@charset "UTF-8";

body{width: initial; height: initial; background-attachment: fixed;}

main{position: initial; margin: auto; margin-top: 2em; transform: initial; height: initial; padding-bottom: 4px;}

input{ width: 100%;}

input[type=button]{margin-left: 0;}
