@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --cor1: #5D2C81;
    --cor2: #366D71;
    --cor3: #93CFCB;
    --cor4: #53ACA5;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

body{width: 100vw; height: 100vh; background-color: var(--cor1); position: relative;}

main{
    width: 230px;
    border-radius: 16px; background-color: white; padding-bottom: 8px;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8); overflow: hidden;
    transition: width, .2s;
    transition-timing-function: ease-in;
}

div.imagem{
    display: block;
    height: 140px;
    background: white url('../imagens/code-screen-small.jpg') no-repeat bottom;
    background-size: cover;
}

div.formulario{display: block;}

h1{text-align: center; padding: 8px;}

main p{text-align: justify; padding: 0 16px 4px 16px;}

.campos{padding: 4px 8px;}

input{width: 100%; padding: 8px; border-radius: 8px; border: 1px solid #999;}

label{position: relative; top: 10px; display: none;}

input[type=button]{cursor: pointer; font-weight: bolder; font-size: 16px;}

input:focus{outline: 1px solid #999; }

a{text-decoration: none; color: black;}

a:hover{text-decoration: underline;}

a:visited{color: black;}

.button-a{background-color: var(--cor4); color: white;}

.button-a:hover{background-color: #57b6aeef;}

.button-b{background-color: white; color: var(--cor4);}

.button-b:hover{background-color: #efefef99;}

#esqueci-minha-senha{text-align: center; font-size: 14px; transform: translateY(2px);}
